$osg-carousel-image-height-mobile: 290
$osg-carousel-image-height-tablet: 540
$osg-carousel-image-height-desktop: 725

// Variables for navigation
$osg-carousel-navigation-button-size: 40

$osg-shape-size: 149px

.osg-carousel
  position: relative

  &__slide ::v-deep img
    object-fit: cover
    width: 100%
    height: #{$osg-carousel-image-height-mobile}px
    +osg-mq-tablet-and-up
      height: #{$osg-carousel-image-height-tablet}px
    +osg-mq-desktop-and-up
      height: #{$osg-carousel-image-height-desktop}px

  &__content
    position: relative
    overflow: hidden

  &__track
    display: flex
    flex-direction: row
    flex-wrap: nowrap

  &__slides
    align-items: center
    display: flex
    flex-direction: row
    flex-grow: 1
    flex-shrink: 0
    flex-wrap: nowrap
    justify-content: flex-start

  &__slide
    display: block
    flex-grow: 1
    flex-shrink: 0

  &__navigation
    display: flex
    align-items: center
    justify-content: space-between
    position: absolute
    width: 100%
    height: 100%
    z-index: 2
    top: 0
    ::v-deep .osg-icon
      font-size: 22px
      +osg-mq-tablet-and-up
        font-size: 32px

  &__previous-button,
  &__next-button
    height: #{$osg-carousel-navigation-button-size}px
    width: #{$osg-carousel-navigation-button-size}px
    min-height: #{$osg-carousel-navigation-button-size}px
    min-width: #{$osg-carousel-navigation-button-size}px
    padding: 0
    margin: 0
    +osg-mq-tablet-and-up
      height: auto
      width: auto
      min-width: auto
      min-height: auto
      padding: 15px
      margin: 0 25px

  &__shapes
    display: none
    align-items: flex-end
    width: 100%
    top: 0
    position: absolute
    +osg-mq-tablet-and-up
      display: flex
      height: #{$osg-carousel-image-height-tablet}px
    +osg-mq-desktop-and-up
      height: #{$osg-carousel-image-height-desktop}px

  &__shape
    height: $osg-shape-size
    width: $osg-shape-size
    @each $name, $color in $osg-colors
      &--color-#{$name}
        background-color: $color

  &__info
    margin-left: 15px
    +osg-mq-tablet-and-up
      margin-left: 0
