@import "~styleguide/src/assets/sass/resources.sass";
@import "~styleguide/src/assets/sass/common/_utils.sass";

.carousel {
  .osg-figure {
    position: relative;

    figcaption {
      position: absolute;
      margin-left: 240px;
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 50%;

      .previous-image-button {
        transform: rotate(180deg);
      }
    }  

    .shapes {
      display: flex;
      align-items: flex-end;
      position: absolute;
      width: 100%;
      bottom: 0;
      
      .squared-shape {
        width: 50%;
        height: 149px;
        width: 149px;
      }

      .circular-shape {
        height: 149px;
        width: 149px;
      }
    }
  }
  
  .osg-carousel-icons {
      margin-left: 5px;
      
    .osg-carousel-icon {
      width: 10px;
      height: 10px;
      min-width: 10px;
      margin: 10px 5px;
      background-color: $osg-color-beige;
    }

    .osg-carousel-current {
      background-color: $osg-color-blue-dark;
    }
  }
}